
html {
    width: 100%;
    height: 100%;
}

body {
    background: transparent url("../img/home_pattern.png") repeat scroll 0% 0%;
    width: 100%;
    height: 100%;
    color: #E1E1E1;
	  text-rendering: optimizelegibility;
	  font: 16px/1 'Roboto Slab', serif;
    overflow-x: hidden;
}

#home {
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 40px;
    padding-top: 40px;
    margin-bottom: 11px;
    padding-bottom: 11px;
    text-align: center;
}

#separate {
  border-top: 1px solid #E0E0E0;
  margin-top: 40px;
  margin-bottom: 40px;
}


/**** Bouton tell me more ****/

a {
    text-decoration: none;
    transition: background-color 0.3s ease 0s, border 0.3s ease 0s, color 0.3s ease 0s, opacity 0.3s ease-in-out 0s, outline 0.3s ease 0s;
}

.outline.white:hover {
    background-color: #E1E1E1;
    color: #222;
}

.outline.white {
    border: 2px solid #E1E1E1;
    color: #FFF;
}

.outline:hover {
    background-color: #222;
    color: #FFF;
}

.outline {
    border: 2px solid #222;
    color: #222;
    line-height: 10px !important;
}
.large {
    font-size: 16px;
    padding: 15px 25px;
    line-height: 16px;
}

a.newave-button {
    margin-top: 40px;
    margin-bottom: 50px;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

a:hover, a:active, a:focus {
    outline: 0px none;
}


/**** Nav ****/



/**** Main ****/

main {
    width: 50%;
    min-width: 320px; 
    margin: auto;    
}

footer {
    width: 40%;
    min-width: 320px;
    margin: auto;
    margin-top: 5%; 
    border-top: 1px solid #E0E0E0;
    text-align: center;
}

#avatar {
    width: 150px;
    height: 230px;
    margin-bottom: 10px;
    background-image: url("../img/avatar.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 30%;
    display: inline-block;
}

span.text-color {
    color: #00A8FF;
}


#menu-down {
  margin-bottom: 10%;
}


#nav-top{
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  text-transform: uppercase;
}

#navlist{
    width: 40%;
    min-width: 40%; 
    text-align: center;
    background-color: blue; 
    margin-left: auto;
    margin-right: auto;
}

#nav-top li{
  float: left;
  display: table;
  width: 170px;
}

section {
    width: 100%;
}

#about {
  width: 100%;
  background: url("../img/about_pattern.jpg") repeat scroll 0% 0%;

}

#folio {
  background-color: #E1E1E1;
  padding-bottom: 5%;
}

#objective {
  background-color: #E1E1E1;
  height: 140px;
}

#objective h1{
  color: #222;
}

/**** PRESENTATION ****/

.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.80);
}

#presentation {
  width: 50%;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: justify;
  margin: auto;
}

#presentation a{
    color: #00A8FF;
}

.menu {
    width: 100%;
    height: 20px;
    margin-top: 10%;
    margin-left: -2.5%;
}

#pages {
    width: 100%;
    margin-bottom: 20%;
}

#page {
    margin-top: 7%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

h1 {
    font-weight: 300;
    font-size: 3.0em;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
    color: #00A8FF;
}

h3 {
    font-size: 16px;
    margin-top: 0px;
    color: #00A8FF;
}

p {
    line-height: 1.6;
}

.bullet {
    margin: 0px 10px;
    opacity: 0.9;
    color: #FFF;
}


/**** PORTFOLIO ****/

#portfolio {
    width: 50%;
    color: #848080;
    text-align: center;
    margin: auto;
}

#portfolio h1{
    color: #000;
    margin-top: 10%;
    margin-bottom: 5%;
}

#portfolio h2{
    font-weight: 300;
    font-size: 2.0em;
    text-transform: uppercase;
    color: #999;
    margin-top: 10%;
    margin-bottom: 5%;
}

.border {
    background: #999 none repeat scroll 0px 0px;
    display: block;
    height: 2px;
    margin: 0px auto 40px;
    width: 100px;
}


/**** BOUTON ON-OFF ****/

.container {
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
}

.switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 44px;
  width: 54px;
  border-radius: 10px;
  z-index: 2;
}

.switch:before, .switch:after { 
  content: " ";
  position: absolute;
  top: 2px;
  margin: 0;
  height: 36px;
  width: 36px;
  background: #69727F;
  border: 3px solid #dddddd;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -o-transform:      rotate(45deg);
  -ms-transform:     rotate(45deg);
  transform:         rotate(45deg);
  z-index: 1;
}

.switch:before { 
  left: -18px;
}

.switch:after { 

}

.switch-back {
    position: absolute;
    top: -3.5px;
    left: -3.7px;
    margin: 0px auto;
    height: 46.5px;
    width: 67.2px;
    background: #69727F;
    border-top: 3px solid #dddddd;
    border-bottom: 3px solid #dddddd;
    border-radius: 6px;
    z-index: 2;
}

.switch-input {
  .display: none;
}

.switch-label-left, .switch-label-right {
  display: block;
  position: absolute;
  top: 0;
  left: -19px;
  width: 72%;
  height: 100%;
  color: transparent;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  .background: rgba(255,0,0,0.1);
  z-index: 3;
}

.switch-label-right {
  left: auto;
  right: -19px;
  width: 72%;
}

.switch-input:checked + .switch-label {
  -webkit-transition: 0.2s ease-out;
  -moz-transition:    0.2s ease-out;
  -o-transition:      0.2s ease-out;
  transition:         0.2s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 41px;
  -webkit-box-shadow: 0px 0px 25px rgba(150,255,50,0.3), 1px 1px 10px rgba(0,0,0,0.8), inset 0px 0px 0px 3px #B0CD61;
  box-shadow: 0px 0px 25px rgba(150,255,50,0.3), 1px 1px 10px rgba(0,0,0,0.8), inset 0px 0px 0px 3px #B0CD61;
}

.switch-input:checked + .switch-label-off ~ .switch-selection {
  -webkit-box-shadow: 0px 0px 25px rgba(255,0,0,0.2), 1px 1px 10px rgba(0,0,0,0.8), inset 0px 0px 0px 3px #E4837B;
  box-shadow: 0px 0px 25px rgba(255,0,0,0.2), 1px 1px 10px rgba(0,0,0,0.8), inset 0px 0px 0px 3px #E4837B;
}


.switch-selection {
  display: block;
  position: absolute;
  top: 3px;
  left: -15px;
  margin: 4px;
  width: 25px;
  height: 25px;
  background: #FFF;
  border: 2px solid #FFF;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -o-transform:      rotate(45deg);
  -ms-transform:     rotate(45deg);
  transform:         rotate(45deg);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  z-index: 999;
}


.label-on, .label-off {
  display: block;
  position: absolute;
  top: 3px;
  margin: 4px;
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 0.85em;
  text-align: center;
  line-height: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -o-transform:      rotate(45deg);
  -ms-transform:     rotate(45deg);
  transform:         rotate(45deg);
  z-index: 2;
}

.label-on { 
  right: -21px; 
}

.label-off { 
  left: -15px; 
}

.label-on div, .label-off div {
  -webkit-transform: rotate(-45deg) !important;
  -moz-transform:    rotate(-45deg);
  -o-transform:      rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  transform:         rotate(-45deg) !important;
  z-index: -1;
}

.red   { 
  background: #E4837B; 
}
.green { 
  background: #B0CD61; 
}


/**** BLOC-IMAGE ****/


#test {
    margin: auto;
    text-align: center;
    border: 2px #000 solid;
    width: 100%;
}


.fa{
  margin-top: 125%;
}

#bloc-image {
    margin: auto;
    text-align: center;
    border: 2px #000 solid;
}


#bloc-class {
    margin: auto;
    text-align: center;
}

#information {
    width: 100%;
    height: 20%;
    border-bottom: 1px ##000 solid;
    margin-bottom: 4%;
}


#information img{
    height: 25px;
    display: inline;
}  

#information h5{
    font-size: 75%;
    width: 30%;
    display: inline;
    margin-right: 2%;
}

#logoPortfolio {
    margin: auto;
}

#logoPortfolio  img{
    width: 50%;
    height: 50%;
}

#textPortfolio {
    width: 100%;
    height: 10%;
}

#textPortfolio h4{
    font-style: italic;
    font-size: 12px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
}


/**** Hobbies ****/


#hobbies{
  text-align: center;
  height: 100%;
}

#hobbies h2{
  color: #FFF;
  font-size: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40%; 
  text-shadow: 2px 2px 3px #111;
  opacity: 1.0;
}

#hobbies p{

}

#square1, #square2, #square3{
  height: 100%;
  opacity:0.25;
}

#square1{
  background: url(../img/guitar.jpg) 0 0 no-repeat;
  /*background-color: #3498db;*/
} 

#square2{
  background: url(../img/sports.jpg) 0 0 no-repeat;
  /*background-color: #ecf0f1;*/

} 

#square3{
  background: url(../img/games.jpg) 0 0 no-repeat;
  /*background-color: #c0392b;*/

} 